[Desktop Entry]
Categories=Utility;Calculator;
Comment=Calculator
Exec=gxde-calculator
GenericName=Calculator
Icon=gxde-calculator
Name=GXDE Calculator
StartupNotify=true
TryExec=gxde-calculator
Type=Application
X-GXDE-ManualID=gxde-calculator
X-GXDE-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[ar]=الحاسبة
Comment[ast]=Calculadora
Comment[bg]=Калкулатор
Comment[ca]=Calculadora
Comment[cs]=Kalkulačka
Comment[da]=Lommeregner
Comment[de]=Taschenrechner
Comment[es]=Calculadora
Comment[es_419]=Calculadora
Comment[et]=Kalkulaator
Comment[fi]=Laskin
Comment[fr]=Calculatrice
Comment[hr]=Kalkulator
Comment[hu]=Számológép
Comment[id]=Kalkulator
Comment[it]=Calculator
Comment[ku_IQ]=ژمێرەر
Comment[lt]=Skaičiuotuvas
Comment[mn]=Тооцоолуур
Comment[ms]=Kalkulator
Comment[ne]=क्याल्कुलेटर
Comment[nl]=Rekenmachine
Comment[pl]=Kalkulator
Comment[pt]=Calculadora
Comment[pt_BR]=Calculadora
Comment[ru]=Калькулятор
Comment[sk]=Kalkulačka
Comment[sq]=Makinë llogaritëse
Comment[sr]=Калкулатор
Comment[tr]=Hesap Makinesi
Comment[uk]=Калькулятор
Comment[zh_CN]=计算器
Comment[zh_HK]=計數機
Comment[zh_TW]=計算機
GenericName[ar]=الحاسبة
GenericName[ast]=Calculadora
GenericName[bg]=Калкулатор
GenericName[ca]=Calculadora
GenericName[cs]=Kalkulačka
GenericName[da]=Lommeregner
GenericName[de]=Taschenrechner
GenericName[es]=Calculadora
GenericName[es_419]=Calculadora
GenericName[et]=Kalkulaator
GenericName[fi]=Laskin
GenericName[fr]=Calculatrice
GenericName[hr]=Kalkulator
GenericName[hu]=Számológép
GenericName[id]=Kalkulator
GenericName[it]=Calculator
GenericName[ku_IQ]=ژمێرەر
GenericName[lt]=Skaičiuotuvas
GenericName[mn]=Тооцоолуур
GenericName[ms]=Kalkulator
GenericName[ne]=क्याल्कुलेटर
GenericName[nl]=Rekenmachine
GenericName[pl]=Kalkulator
GenericName[pt]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName[ru]=Калькулятор
GenericName[sk]=Kalkulačka
GenericName[sq]=Makinë llogaritëse
GenericName[sr]=Калкулатор
GenericName[tr]=Hesap Makinesi
GenericName[uk]=Калькулятор
GenericName[zh_CN]=计算器
GenericName[zh_HK]=計數機
GenericName[zh_TW]=計算機
Name[ar]=حاسبة ديبين
Name[ast]=GXDE Calculator
Name[bg]=GXDE Калкулатор
Name[ca]=Calculadora del GXDE
Name[cs]=Kalkulačka
Name[da]=GXDE lommeregner
Name[de]=GXDE Taschenrechner
Name[es]=Calculadora GXDE
Name[es_419]=Calculadora GXDE
Name[et]=GXDE kalkulaator
Name[fi]=GXDE Calculator
Name[fr]=Calculatrice GXDE
Name[hr]=GXDE kalkulator
Name[hu]=GXDE számológép
Name[id]=Kalkulator GXDE
Name[it]=GXDE Calculator
Name[ku_IQ]=ژمێرەری GXDE
Name[lt]=GXDE skaičiuotuvas
Name[mn]=Дээпин тооцоолуур
Name[ms]=Kalkulator GXDE
Name[ne]=डिपिन क्याल्कुलेटर
Name[nl]=GXDE Rekenmachine
Name[pl]=Kalkulator GXDE
Name[pt]=GXDE Calculator
Name[pt_BR]=Calculadora GXDE
Name[ru]=Калькулятор GXDE
Name[sk]=GXDE Kalkulačka
Name[sq]=Makinë llogaritëse GXDE
Name[sr]=Дипин Калкулатор
Name[tr]=GXDE Hesap Makinesi
Name[uk]=Калькулятор GXDE
Name[zh_CN]=GXDE 计算器
Name[zh_HK]=GXDE 計數機
Name[zh_TW]=GXDE 計算機

