Source: gxde-calculator
Section: utils
Priority: optional
Maintainer: gfdgd_xi <3025613752@qq.com>
Build-Depends: debhelper (>= 9), pkg-config, qt5-qmake, libdtkwidget2-dev, libqt5svg5-dev, qttools5-dev-tools
Standards-Version: 3.9.8
Homepage: https://gxde.gfdgdxi.top

Package: gxde-calculator
Architecture: any
Replaces: deepin-calculator
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Calculator for GXDE
 GXDE calculator tool.
